<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is the home page</h1>
    <h3><%= 1+5 %></h3>
    <h3><%= "rifat".toUpperCase() %></h3>
    <h3><%= ["rifat","robiul","rakib"][2] %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusantium itaque, veritatis quibusdam, quos
        eos libero alias repudiandae accusamus esse atque, asperiores iusto? Repudiandae dolore, soluta repellat quia
        nisi tempore laborum ullam, sunt quidem veritatis dolorem iste officiis maxime facere placeat aspernatur
        excepturi aliquid magni!
    </p>
</body>

</html>