*{
    font-family: calibri, optima, arial;
}
h1{
    border: solid black;
    text-align: end;
    font-weight: normal;
    text-decoration: overline;
}

h2{
    text-align: center;
    font-weight: bolder;
    text-decoration:wavy blue underline;
    letter-spacing: 10px;
    font-family: Arial Black;
}

h3{
    text-align: start;
    text-decoration: double white line-through;
}

h4{
    width: 50%;
    text-align: center;
    border: solid black;
    font-weight:900;
}

p{
    text-align: justify;
    font-weight: lighter;
    line-height: 2;
}

a{
    text-decoration: none;
}